.register {
    margin: 70px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 396px;
    width: 100%;


}

.register__link {
    display: flex;
    margin: 0;
    padding: 0 0 40px;
    text-decoration: none;
    transition: opacity 0.5s linear;
}

.register__link:hover {
    opacity: 0.7;
}

.register__logo {
    max-height: 38px;
}

.register__title {
    display: flex;
    margin: 0;
    padding: 0 0 40px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: black;
}

.register__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.register__input-label {
    display: flex;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #A0A0A0;
    margin: 0;
    padding: 0;
}


.register__input {
    display: flex;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 10px;
    outline-style: none;
    border: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #E8E8E8;
    color: black;
}

.register__input_password {
    color: #FF4062;
}

.register__input:focus {
    border-bottom: 1px solid #000000;
}

.register__input-error {
    display: flex;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #FF4062;
    margin: 0;
    padding: 6px 0;
    height: 12px;
    text-align: start;

}

.register__input-error:last-of-type {
    margin-top: 104px;

}

.register__btn {
    margin: 0 auto;
    padding: 13px 0 15px;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    cursor: pointer;
    border-style: none;
    transition: opacity 0.5s linear;
}

.register__btn:hover {
    opacity: 0.8;
}

.register__btn:disabled {
    background-color: #F8F8F8;
    color: #A0A0A0;
    cursor: not-allowed;
    border-style: none;
}

.register__text {
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
    font-weight: 400;
    margin: 16px auto 0;
    padding: 0;
}

.register__signin-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0;
    padding: 0 0 0 6px;
    color: #000000;
    text-decoration: none;
    transition: opacity 0.5s linear;
}

.register__signin-link:hover {
    opacity: 0.7;
}


@media screen and (max-width: 768px) {
    .register {
        margin-top: 232px;
        margin-bottom: 232px;

    }

}

@media screen and (max-width: 550px) {
    .register {
        margin-top: 56px;
        margin-bottom: 30px;
        max-width: 260px;

    }

    .register__link {
        padding-bottom: 50px;
        margin-left: auto;
        margin-right: auto;

    }

    .register__title {
        padding-bottom: 80px;
        margin-left: auto;
        margin-right: auto;

    }

    .register__input-error:last-of-type {
        margin-top: 192px;
    }

    .register__btn {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 12px;
        line-height: 15px;
    }

    .register__text {
        font-size: 12px;
        line-height: 15px;
        margin-top: 14px;
    }

    .register__signin-link {
        font-size: 12px;
        line-height: 15px;
        padding-left: 7px;
    }
}